@import url("https://fonts.googleapis.com/css?family=Archivo+Black:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Protest+Strike:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap");
@import url("reset.css");

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.main-title {
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
}




.block-1__container {
    font-family: "Epilogue", sans-serif;
    background-color: #FDF0E9;
}

.block-1__image {
    margin: 0 auto;
}

.block-1__image {
    padding: 15px;
    max-width: 970px;
    width: 100%;
}

.block-1__text {
    width: 570px;
    margin: 0 auto;
}

.block-1__image img:first-child {
    margin-bottom: 74px;
}

.block-1__text>* {
    margin-bottom: 32px;
}

.block-1__text p:first-child {
    color: #391400;
    font-size: 20px;
    line-height: 1.6;
}

.block-1__text p:not(.block-1__text p:first-child) {
    color: rgba(57, 20, 0, 0.64);
    font-size: 16px;
    line-height: 2;
}

.block-1__text p:nth-of-type(2) {
    margin-bottom: 51px;
}

.block-1__text h2 {
    color: #391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

.block-1__text a {
    color: #391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

.block-1__text a:visited {
    color: green;
}

.block-1__text p:nth-of-type(4) {
    margin-bottom: 65px;
}

.block-1__text li {
    color: #391400;
    font-size: 16px;
    line-height: 2;
}

.block-1__text p:nth-of-type(6) {
    margin-bottom: 69px;
}

.block-1__text>ul>li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #EF6D58;
    vertical-align: middle;
    margin-inline-end: 16px;
}



.block-1__text>ol>li:first-of-type::before {
    content: "1.";
}

.block-1__text>ol>li:nth-of-type(2)::before {
    content: "2.";
}

.block-1__text>ol>li:nth-of-type(3)::before {
    content: "3.";
}

.block-1__text>ol>li:first-of-type::after {
    content: ".";
}

.block-1__text>ol>li:nth-of-type(2)::after {
    content: ".";
}

.block-1__text>ol>li:nth-of-type(3)::after {
    content: ".";
}


.block-1__text div {
    font-size: 20px;
    line-height: 1.6;
    border-radius: 6px;
    background-color: #F9E5DA;
    padding-inline: 32px;
    padding-top: 42px;
    padding-bottom: 32px;
    margin-bottom: 76px;
}


.block-1__text div > p {
    background: url("../img/shape.png") top left / 48px no-repeat;
    padding-left: 80px;
}

.block-1__text:last-of-type {
    margin-bottom: 58px;
}

.block-1__text:last-child::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #F3D1BF;
}




.block-2 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    border-top: 1px solid #4a3aff;
    background-color: #fff;
}

.block-2__container {
    max-width: 1738px;
    margin: 0 auto;
    padding: 106px 15px;
}

.container__item {
    max-width: 542px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 56px;
    background-color: #f0f0f6;
}

.container__item .item-top {
    margin-bottom: 35px;
    padding: 44px;
    text-align: center;
    color: #fff;
    border-radius: 34px;
    background-color: #4a3aff;
}

.container__item .item-top p {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
}

.container__item .item-top p:last-child {
    margin-bottom: 0;
}

.container__item p:nth-of-type(1) {
    font-size: 30px;
    line-height: 1.066;
}

.container__item p:nth-of-type(2) {
    font-size: 116px;
    line-height: 1.034;
    letter-spacing: -5px;
}

.container__item p:nth-of-type(3) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.6);
}

.container__item .item-bottom {
    margin-bottom: 32px;
    padding: 0 13px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.357;
    letter-spacing: -.3px;
}

.container__item .item-bottom li:not(:last-child) {
    margin-bottom: 26px;
}

.container__item .item-bottom li::before {
    content: "";
    width: 36px;
    height: 36px;
    vertical-align: top;
    margin-right: 14px;
    background: url("../img/check.png") 0 0 / 36px no-repeat;
}




.block-3 , .main__pricing {
    font-family: "DM Sans", sans-serif;
    margin-bottom: 150px;
}

.timeline__list {
    max-width: 990px;
    padding: 50px;
    font-size: 0;
    background: #FFF;
}

.list-timeline>* {
    margin-bottom: 54px;
}

.list-timeline>*:last-child {
    margin-bottom: 0px;
}

.block-3__title:hover {
    text-decoration: underline;
    color: green;
}


.block-3__number {
    display: inline-block;
    width: 218px;
    height: 218px;
    line-height: 218px;
    border-radius: 50%;
    background-color: rgba(74, 58, 255, 0.1);
    color: #4A3AFF;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    vertical-align: middle;
    padding: 5px;
}

.block-3__number:active {
    opacity: 0.5;
}

.block-3__number:not(:last-child) {
    margin-right: 42px;
}

.block-3__content {
    display: inline-block;
    max-width: 630px;
    vertical-align: middle;
}

.block-3__content>* {
    margin-bottom: 8px;
}

.block-3__content>*:last-child {
    margin-bottom: 0px;
}

.block-3__data {
    color: #4A3AFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}

.block-3__data:hover {
    opacity: 0.75;
}

.block-3__title {
    color: #1E1B39;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
}


.block-3__text {
    color: #6E6C83;
    font-size: 24px;
    line-height: 1.8;
}



.game {
    font-family: "Protest Strike", sans-serif;
    background-image: url("../img/game-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1100px;
    max-height: 650px;
    margin: 0 auto;
}

.game-container {
    padding: 0 15px;
    font-size: 0;
    margin-bottom: 10px;
}

.game-container div:first-child {
    margin-top: 10px;
}

.game-row {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    visibility: hidden;
}

.game-lets-fight {
    width: 292px;
    height: 60px;
    margin-left: 10px;
    visibility: visible;
    text-align: center;
    font-size: 36px;
    line-height: 1.9;
    color: #000000;
}

.game-lets-fight:hover+.game-row-1,
.game-row-1:hover {
    visibility: visible;
}

.game-row-1 {
    margin-top: 10px;
    width: 292px;
    height: 60px;
    background-color: #fff;
}

.game-row-1:hover+.game-row-2,
.game-row-2:hover {
    visibility: visible;
}

.game-row-2 {
    width: 168px;
    height: 50px;
    margin-top: 15px;
    background-color: #fff;
}

.game-row-2:hover+.game-row-3,
.game-row-3:hover {
    visibility: visible;
}

.game-row-3 {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: -30px;
    background-color: #fff;
}

.game-row-3:hover+.game-row-4,
.game-row-4:hover {
    visibility: visible;
}

.game-row-4 {
    width: 29px;
    height: 330px;
    margin-left: 932px;
    margin-top: -50px;
    background-color: #fff;
}

.game-row-4:hover+.game-row-5,
.game-row-5:hover {
    visibility: visible;
}

.game-row-5 {
    width: 150px;
    height: 33px;
    margin-left: -150px;
    margin-top: 250px;
    background-color: #fff;
}

.game-row-5:hover+.game-row-6,
.game-row-6:hover {
    visibility: visible;
}

.game-row-6 {
    width: 544px;
    height: 26px;
    margin-top: -30px;
    margin-left: 278px;
    background-color: #fff;
}

.game-row-6:hover+.game-row-7,
.game-row-7:hover {
    visibility: visible;
}

.game-row-7 {
    width: 129px;
    height: 21px;
    margin-left: 220px;
    margin-top: -28px;
    padding-left: 10px;
    background-color: #fff;
}


.game-row-7:hover+.game-row-8,
.game-row-8:hover {
    visibility: visible;
}


.game-row-8 {
    width: 16px;
    height: 294px;
    margin-bottom: 28px;
    margin-top: -28px;
    margin-left: -144px;
    background-color: #fff;
}


.game-row-8:hover+.game-row-9,
.game-row-9:hover {
    visibility: visible;
}


.game-row-9 {
    width: 150px;
    height: 16px;
    margin-top: 253px;
    margin-right: -144px;
    background-color: #fff;
}

.game-row-9:hover+.game-row-10,
.game-row-10:hover {
    visibility: visible;
}


.game-row-10 {
    width: 450px;
    height: 18px;
    margin-top: 253px;
    margin-right: -254px;
    background-color: #fff;
}


.game-row-10:hover+.game-row-11,
.game-row-11:hover {
    visibility: visible;
}


.game-row-11 {
    width: 250px;
    height: 250px;
    margin-right: -254px;
    margin-top: 30px;
    margin-left: 250px;
    background-image: url(../img/petro.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


.footer {
    padding: 25px;
    text-align: center;
    font-size: 40px;
}



